body {
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

h1, h2, h3 {
    text-align: center;
}

div form {
    width: 70%;
    margin: auto;
    text-align: center;
}

form label {
    display: block;
    margin-top: 2%;
    margin-bottom: .5%;
}

form input {
    margin-bottom: 2%;
}

form button {
    display: block;
    margin: auto;
}
.hidden {
    display: none;
}

